MONGODB_URI="mongodb+srv://shivam_savior:L2jMA7c9us5JjybT@cluster0.xxd7emq.mongodb.net/?appName=Cluster0"

PAYLOAD_SECRET="wC+Ik79UCTWblMZW3DDUZFwALCJ1CeSLGWlfWZvwdgs=" # TODO: generate a random secret. See https://payloadsecret.io/ for more info
NEXT_PUBLIC_FRONTEND_URL="http://localhost:4321" # The URL of your frontend. This should be the same as WEBSITE_URL in the web .env file.

HETZNER_BUCKET="" # TODO: add the hetzner bucket name. You can copy this from the Hetzner dashboard.
HETZNER_ACCESS_KEY_ID="" # TODO: add the hetzner access key id
HETZNER_SECRET_ACCESS_KEY="" # TODO: add the hetzner secret access key

# Vercel Blob Storage (free tier for testing).
# Run: npx vercel blob store create savior-media
# Then add the BLOB_READ_WRITE_TOKEN below
BLOB_READ_WRITE_TOKEN="" # TODO: add the vercel blob read-write token
BLOB_STORE_ID="" # TODO: add the vercel blob store id

RESEND_API_KEY="" # TODO: add the resend api key. You can copy this from the Resend dashboard.
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_dVCV6vAyn9Ia7rzV_RxVNKLxemvXAR4Ko6vD4dq5LZm6Vir"
NEXT_PUBLIC_WEBSITE_VERCEL_DEPLOY_URL="" # TODO: add website deployment hook URL. You can generate this in the Vercel Project dashboard.